@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

body {
    margin: 0;
    color: #2a2a63;
    font-family: 'Roboto';

}

.main-bg {
    background-color: #ffa1a9;
    min-height: 100vh;
}

.resume-title {
    font-weight: 600;
    font-size: 42px;
}

@media screen and (max-width: 767px) {
    .resume-title {
        font-size: 20px;
    }
}

.details {
    font-weight: 500;
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    .details {
        font-size: 10px;
    }
}


.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #2a2a63;
    border-radius: 48px;
    height: 80px;
    width: 80px;
}

@media screen and (max-width: 767px) {
    .icon-circle {
        height: 40px;
        width: 40px;
    }
}

.normal-icon {
    font-size: 38px;
}

@media screen and (max-width: 767px) {
    .normal-icon {
        font-size: 20px;
    }
}

.blue-icon {

    background-color: #2a2a63;
}

.icon {
    font-size: 38px;
    color: #ffa1a9;
}

@media screen and (max-width:767px) {
    .icon {
        font-size: 20px;
    }
}

.side-bar {
    border-right: 3px solid #2a2a63;
}

.bottom-bar {
    border-bottom: 3px solid #2a2a63;
}

.work-title {
    font-weight: 600;
}